@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
 font-family: "Source Sans 3", sans-serif;
}
body{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
nav{
  width: 260px;
  height: 100vh;
  border-right: solid 2px #eee8e8;
  display: flex;
  flex-direction: column;
  position: fixed;
}
#logo-div{
  border-bottom: solid 2px #eee8e8;
}
#logo{
  height: 110px;
  margin: 10px;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  margin: 15px 10px 0 10px;
}
li{
  display: flex;
  height: 45px;
  border-radius: 8px;
  transition: background 0.5s;
  align-items: center;
  padding-left: 10px;
}
li:hover{
  transition: background 0.5s;
  background: #00a89826;
}
a{
  text-decoration: none;  
  display: flex;
  color: black;
  font-size: 18px;
  width: 100%;
}
.icon{
  align-self: center;
  margin-right: 10px;
  font-size: 22px;
}